<%- include("header") -%>

<div class="box" id="heading">
  <h1>It's a <%= listTitle %></h1>
</div>
<div class="box">
  <% for(var i = 0; i < newListItems.length; i++){ %>
  <div class="item">
    <input type="checkbox">
    <p><%= newListItems[i] %></p>
  </div>
  <% } %>
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="button" value=<% listTitle %>>+</button>
  </form>
<%- include("footer") -%>
