body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c68;
  color: #fff;
  padding: 3% 15% 7%;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat-Bold";
}
h2{
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-size: 1.5rem;
}
/* Heading */
.big-heading{
  font-size: 3rem;
  font-family: 'Montserrat';
  line-height: 1.5;
}
/* Navigation Bar */

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Button Section */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Feature Section */

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.feature-box{
  text-align: center;
  padding: 4.5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.carousel-item{
  padding: 7% 15%;
}

.testimonials-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  margin: 20px 20px 50px;
  width: 15%;
}

/* Priicing Section */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

/* CTA Section */
#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */
#footer{
  text-align: center;
  padding: 7% 15%;
}
.social-icon{
  margin: 20px 10px;
}

@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
